In [1]:
# librerías
import random
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [7]:
cartas = ['1', '2', '3', '4', '5', '6', '7', 'sota', 'caballo', 'rey']
espadas = [1, 2, 3, 4, 5, 6, 7, 0.5, 0.5, 0.5]
oros = ['1', '2', '3', '4', '5', '6', '7', 'sota', 'caballo', 'rey']
copas = ['1', '2', '3', '4', '5', '6', '7', 'sota', 'caballo', 'rey']


baraja = pd.DataFrame({'Cartas': cartas, 'Valores': espadas})
baraja

    Cartas  Valores
0        1      1.0
1        2      2.0
2        3      3.0
3        4      4.0
4        5      5.0
5        6      6.0
6        7      7.0
7     sota      0.5
8  caballo      0.5
9      rey      0.5

In [9]:
for e in baraja.Cartas:
    print (e + 'Espadas')

1Espadas
2Espadas
3Espadas
4Espadas
5Espadas
6Espadas
7Espadas
sotaEspadas
caballoEspadas
reyEspadas

In [ ]:
espadas = [['1', 1], '2', '3', '4', '5', '6', '7', 'sota', 'caballo', 'rey']
bastos = ['1', '2', '3', '4', '5', '6', '7', 'sota', 'caballo', 'rey']
oros = ['1', '2', '3', '4', '5', '6', '7', 'sota', 'caballo', 'rey']
copas = ['1', '2', '3', '4', '5', '6', '7', 'sota', 'caballo', 'rey']
espadas.shuffle

In [16]:
r = []

for e in range(10000):
    d1 = random.randint(1, 20)
    d2 = random.randint(1, 20)
    result = d1 + d2
    r.append(result)

sum(r)/10000 +20

40.9047