In [1]:
import pandas as pd
import numpy as np

In [2]:
from src import titan_class as titan

In [3]:
titan_frame = titan.Titan(path= 'C:\\Users\\Diomedes\\Documents\\Python\\Data_for_bootcamp\\titanic.csv')
df = titan_frame.create_df(wish= True)
titan_frame.general_info()
titan_frame.value_changer(column='PassengerId', choice= 'str')
titan_frame.value_changer(position=1, choice= 'bool')

# titan_frame.value_changer(position=5, choice= 'int64')

		General info on the df:
Shape
     Shape
0     Rows  891
1  Columns   12
------------------

Data type and NaNs
        Columns Data type  NaNs in column
0   PassengerId     int64               0
1      Survived     int64               0
2        Pclass     int64               0
3          Name    object               0
4           Sex    object               0
5           Age   float64             177
6         SibSp     int64               0
7         Parch     int64               0
8        Ticket    object               0
9          Fare   float64               0
10        Cabin    object             687
11     Embarked    object               2

Changing type using the column's name...
Changed from int64 to object

Changing type using the column's position...
Changed from int64 to bool

In [4]:
df['PassengerId'].astype('str').dtype

dtype('O')