In [24]:
import pandas as pd
import pandas as np

In [26]:
df = pd.read_csv(r'F:\Programacion\1.BOOTCAMP\data\general_dfs\ads.csv')
df

                    Time     Ads
0    2017-09-13T00:00:00   80115
1    2017-09-13T01:00:00   79885
2    2017-09-13T02:00:00   89325
3    2017-09-13T03:00:00  101930
4    2017-09-13T04:00:00  121630
..                   ...     ...
211  2017-09-21T19:00:00  155890
212  2017-09-21T20:00:00  123395
213  2017-09-21T21:00:00  103080
214  2017-09-21T22:00:00   95155
215  2017-09-21T23:00:00   80285

[216 rows x 2 columns]