In [1]:
import pandas as pd
import numpy as np

In [2]:
from src import titan_class as titan

In [3]:
titan_frame = titan.Titan(path= 'C:\\Users\\Diomedes\\Documents\\Python\\Data_for_bootcamp\\titanic.csv')
titan_frame.create_df()

titan_frame.general_info()
titan_frame.value_changer(column='PassengerId')
titan_frame.value_changer(position=1)

titan_frame.nan_manager(column= 'Age', fill_na= True, value= 'mean')
titan_frame.value_changer(position=5)
titan_frame.nan_manager(column= 'Embarked', drop_na= True)

titan_frame.general_info()

my_frame = titan_frame.return_df(wish= True, name= 'titanic')

		General info on the df:
Shape
     Shape
0     Rows  891
1  Columns   12
------------------

Data type and NaNs
        Columns Data type  NaNs in column
0   PassengerId     int64               0
1      Survived     int64               0
2        Pclass     int64               0
3          Name    object               0
4           Sex    object               0
5           Age   float64             177
6         SibSp     int64               0
7         Parch     int64               0
8        Ticket    object               0
9          Fare   float64               0
10        Cabin    object             687
11     Embarked    object               2

Changing type using the column's name...
Changed from int64 to int64

Changing type using the column's position...
Changed from int64 to int64
Filling data...

Changing type using the column's position...
Changed from float64 to float64
Dropping data...
Dropping NaN values by column name

		General info on the df:
Shape
     Shape
0     Rows  202
1  Columns   12
------------------

Data type and NaNs
        Columns Data type  NaNs in column
0   PassengerId     int64               0
1      Survived     int64               0
2        Pclass     int64               0
3          Name    object               0
4           Sex    object               0
5           Age   float64               0
6         SibSp     int64               0
7         Parch     int64               0
8        Ticket    object               0
9          Fare   float64               0
10        Cabin    object               0
11     Embarked    object               0
     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[202 rows x 12 columns]

In [4]:
titan_frame.quick_plotter()

AttributeError: 'str' object has no attribute 'sum'