In [5]:
import pandas as pd
import numpy as np

In [6]:
from src import titan_class as titan

In [7]:
titan_frame = titan.Titan(path= 'C:\\Users\\Diomedes\\Documents\\Python\\Data_for_bootcamp\\titanic.csv')
titan_frame.create_df()

titan_frame.general_info()
titan_frame.value_changer(column='PassengerId', choice= 'str')
titan_frame.value_changer(position=1, choice= 'bool')

titan_frame.nan_manager(column= 'Age', fill_na= True, value= 'mean')
titan_frame.value_changer(position=5, choice= 'int64')
titan_frame.nan_manager(column= 'Embarked', drop_na= True)

titan_frame.general_info()

my_frame = titan_frame.return_df()

		General info on the df:
Shape
     Shape
0     Rows  891
1  Columns   12
------------------

Data type and NaNs
        Columns Data type  NaNs in column
0   PassengerId     int64               0
1      Survived     int64               0
2        Pclass     int64               0
3          Name    object               0
4           Sex    object               0
5           Age   float64             177
6         SibSp     int64               0
7         Parch     int64               0
8        Ticket    object               0
9          Fare   float64               0
10        Cabin    object             687
11     Embarked    object               2

Changing type using the column's name...
Changed from int64 to object

Changing type using the column's position...
Changed from int64 to bool
Filling data...

Changing type using the column's position...
Changed from float64 to int64
Dropping data...
Dropping NaN values by column name

		General info on the df:
Shape
     Shape
0     Rows  202
1  Columns   12
------------------

Data type and NaNs
        Columns Data type  NaNs in column
0   PassengerId    object               0
1      Survived      bool               0
2        Pclass     int64               0
3          Name    object               0
4           Sex    object               0
5           Age     int64               0
6         SibSp     int64               0
7         Parch     int64               0
8        Ticket    object               0
9          Fare   float64               0
10        Cabin    object               0
11     Embarked    object               0

In [8]:
titan_frame.quick_plotter()

AttributeError: 'str' object has no attribute 'sum'