In [1]:
# Custom classes
from src import sql_connector as sql
from src import titan_class as titan

In [2]:
# Establishing conection
database = sql.SQL_manager(path='C:\\Users\\Diomedes\\Documents\\Python\\Mi_Git\\Data_Analisys\\templates\\src\\settings.json')
database.gimmie_a_db()

Connected to MySQL server australia_fires_2

In [3]:
table_dict = database.ORDER_show_tables()

0: fire_archive_M6_96619
1: fire_archive_V1_96617
2: fire_nrt_M6_96619
3: fire_nrt_V1_96617
4: student_findings

In [4]:
for e in table_dict:
    database.ORDER_describe_table(table=table_dict[e])
    print('\n', ' + ' * 20, '\n')

          name      data_type nullable primary_key default_value collation
0        index   mediumint(9)      YES                      None
1     latitude    varchar(10)       NO                      None
2    longitude  decimal(20,6)       NO                      None
3   brightness  decimal(20,6)       NO                      None
4         scan  decimal(20,6)       NO                      None
5        track  decimal(20,6)       NO                      None
6     acq_date           date       NO                      None
7     acq_time    smallint(6)      YES                      None
8    satellite    varchar(10)       NO                      None
9   instrument    varchar(10)       NO                      None
10  confidence     tinyint(4)      YES                      None
11     version  decimal(20,6)       NO                      None
12  bright_t31  decimal(20,6)       NO                      None
13         frp  decimal(20,6)       NO                      None
14    daynight    varchar(10)       NO                      None
15   fire_type     tinyint(4)      YES                      None

  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +

          name      data_type nullable primary_key default_value collation
0        index   mediumint(9)      YES                      None
1     latitude    varchar(10)       NO                      None
2    longitude  decimal(20,6)       NO                      None
3   bright_ti4  decimal(20,6)       NO                      None
4         scan  decimal(20,6)       NO                      None
5        track  decimal(20,6)       NO                      None
6     acq_date           date       NO                      None
7     acq_time    smallint(6)       NO                      None
8    satellite    varchar(10)       NO                      None
9   instrument    varchar(10)       NO                      None
10  confidence    varchar(10)       NO                      None
11     version     tinyint(4)       NO                      None
12  bright_ti5  decimal(20,6)       NO                      None
13         frp  decimal(20,6)       NO                      None
14   fire_type     tinyint(4)      YES                      None

  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +

          name      data_type nullable primary_key default_value collation
0        index   mediumint(9)      YES                      None
1     latitude    varchar(10)       NO                      None
2    longitude  decimal(20,6)       NO                      None
3   brightness  decimal(20,6)       NO                      None
4         scan  decimal(20,6)       NO                      None
5        track  decimal(20,6)       NO                      None
6     acq_date           date       NO                      None
7     acq_time    smallint(6)      YES                      None
8    satellite    varchar(10)       NO                      None
9   instrument    varchar(10)       NO                      None
10  confidence     tinyint(4)      YES                      None
11     version    varchar(10)       NO                      None
12  bright_t31  decimal(20,6)       NO                      None
13         frp  decimal(20,6)       NO                      None
14    daynight    varchar(10)       NO                      None

  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +

          name      data_type nullable primary_key default_value collation
0        index   mediumint(9)      YES                      None
1     latitude    varchar(10)       NO                      None
2    longitude  decimal(20,6)       NO                      None
3   bright_ti4  decimal(20,6)       NO                      None
4         scan  decimal(20,6)       NO                      None
5        track  decimal(20,6)       NO                      None
6     acq_date           date       NO                      None
7     acq_time    smallint(6)       NO                      None
8    satellite    varchar(10)       NO                      None
9   instrument    varchar(10)       NO                      None
10  confidence    varchar(10)       NO                      None
11     version    varchar(10)       NO                      None
12  bright_ti5  decimal(20,6)       NO                      None
13         frp  decimal(20,6)       NO                      None
14    daynight    varchar(10)       NO                      None

  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +

           name     data_type nullable primary_key default_value collation
0         index   varchar(20)       NO         PRI          None
1  chosen_model   varchar(45)       NO                      None
2     acc_score  decimal(4,2)       NO                      0.00
3  recall_score  decimal(4,2)       NO                      0.00

  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +

In [5]:
query = f"""SELECT * FROM {table_dict[0]}"""

database.ORDER_create_a_df_from_sql(query= query, store= True, name= table_dict[0])

The file will be stored as "fire_archive_M6_96619"  in Output/...

,index,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,fire_type
0,0,-11.807,142.0583,313.0,1.0,1.0,2019-08-01,56,Terra,MODIS,48,6.3,297.3,6.6,D,0
1,1,-11.7924,142.0850,319.3,1.0,1.0,2019-08-01,56,Terra,MODIS,71,6.3,297.3,11.3,D,0
2,2,-12.8398,132.8744,311.6,3.1,1.7,2019-08-01,57,Terra,MODIS,42,6.3,298.7,23.1,D,0
3,3,-14.4306,143.3035,310.1,1.1,1.1,2019-08-01,57,Terra,MODIS,33,6.3,296.1,6.5,D,0
4,4,-12.4953,131.4897,310.3,4.0,1.9,2019-08-01,57,Terra,MODIS,36,6.3,298.8,27.6,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36006,36006,-28.0656,131.6334,312.7,1.2,1.1,2019-09-30,1644,Aqua,MODIS,85,6.3,292.9,14.2,N,0
36007,36007,-28.2625,128.5494,304.9,1.0,1.0,2019-09-30,1644,Aqua,MODIS,27,6.3,290.9,6.4,N,0
36008,36008,-28.2941,128.5123,301.7,1.0,1.0,2019-09-30,1644,Aqua,MODIS,43,6.3,290.4,5.5,N,0
36009,36009,-28.3001,128.5530,303.6,1.0,1.0,2019-09-30,1644,Aqua,MODIS,41,6.3,290.3,5.7,N,0
36010,36010,-30.8641,121.4995,309.1,1.8,1.3,2019-09-30,1645,Aqua,MODIS,77,6.3,290.9,23.0,N,2

In [6]:
database.ORDER_close()

Closing connection connection with MySQL server...