In [1]:
# Custom classes
from src import sql_connector as sql
from src import titan_class as titan

In [2]:
# Establishing conection
database = sql.SQL_manager(path='C:\\Users\\Diomedes\\Documents\\Python\\Mi_Git\\Data_Analisys\\templates\\src\\settings.json')
database.gimmie_a_db()

Connected to MySQL server new_schema

(<pymysql.connections.Connection at 0x217fbe2aac0>,
 <pymysql.cursors.Cursor at 0x217c3d8bc70>)

In [3]:
table_dict = database.ORDER_show_tables()

0: gods
1: gods_2

In [4]:
for e in table_dict:
    database.ORDER_describe_table(table=table_dict[e])
    print('\n', ' + ' * 20, '\n')

     name    data_type nullable primary_key default_value       collation
0      ID      int(11)       NO         PRI          None  auto_increment
1    name  varchar(45)      YES               name of god
2  origin  varchar(45)      YES                   faction

  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +

      name    data_type nullable primary_key default_value collation
0    name_  varchar(44)       NO         PRI          None
1  faction  varchar(45)      YES                      None

  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +  +

In [5]:
query = f"""SELECT * FROM {table_dict[0]}"""

database.ORDER_create_a_df_from_sql(query= query, store= True, name= table_dict[0])

The file will be stored as "gods"  in Output/...

Empty DataFrame
Columns: [ID, name, origin]
Index: []

In [6]:
columns = "(name, origin)"
values = ["('Khorne', 'warp')","('Nurgle', 'warp')","('Tzeench', 'warp')","('Slaanesh', 'warp')","('Malala', 'warp')"]

for value in values:
    database.ORDER_insert_into_table(table=table_dict[0], columns= columns, values= value)
database.ORDER_select_all_from (table= table_dict[0])

INSERT INTO gods (name, origin) VALUES ('Khorne', 'warp');
INSERT INTO gods (name, origin) VALUES ('Nurgle', 'warp');
INSERT INTO gods (name, origin) VALUES ('Tzeench', 'warp');
INSERT INTO gods (name, origin) VALUES ('Slaanesh', 'warp');
INSERT INTO gods (name, origin) VALUES ('Malala', 'warp');
   ID      name origin
0   6    Khorne   warp
1   7    Nurgle   warp
2   8   Tzeench   warp
3   9  Slaanesh   warp
4  10    Malala   warp

In [7]:
database.ORDER_close()

Closing connection connection with MySQL server...